Flask
numpy
pandas
spacy
PyPDF2
pytesseract
pillow
sentence-transformers
scikit-learn
gunicorn
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
email-validator
python-docx
openpyxl
xlsxwriter


